.details-button {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    color: #fafafa;
    font-size: 18px;
    background-color: rgb(141, 137, 155);
    &:hover {
        cursor: pointer;
        background-color: rgb(104, 101, 117);
    }
    margin-bottom: 2rem;
}