.wrapper__desc {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
span {
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 20px;
}
h1 {
    margin-bottom: 1rem;
}
ul {
    list-style-type: none;
}
li {
    margin: 0.5rem 0;
    font-size: 18px;
}
.edit-button {
    border-radius: 3px;
    background-color: #e6d542;
    color: #fafafa;
    border: none;
    padding: 0.5rem;
    width: 4rem;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        background-color: #a89d32;
    }
}
.show {
    border-radius: 3px;
    background-color: #5e53ee;
    color: #fafafa;
    border: none;
    padding: 0.5rem;
    width: 4rem;
    font-size: 18px;
    margin-top: 1rem;
    &:hover {
        cursor: pointer;
        background-color: #3d3799;
    }
}
.time-series {
    width: 40%;
    margin-left: auto;
}